/* ============================================================
   ABOUT BACKGROUND EFFECTS
   ============================================================ */

/* Subtle diagonal lines pattern */
/* .about{
  position: relative;
  overflow: hidden;
} */

/* subtle animated diagonal lines */

/* .about::before{
  content:'';
  position:absolute;
  inset:0;
  pointer-events:none;
  z-index:1;

  background-image:
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 40px,
      rgba(99, 101, 241, 0.103) 70px,
      rgba(99,102,241,0.05) 72px
    );

  animation: aboutLines 20s linear infinite;
} */

/* light theme */

/* [data-theme="light"] .about::before{

  background-image:
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 40px,
      rgba(99, 101, 241, 0.267) 70px,
      rgba(99,102,241,0.08) 72px
    );

} */

/* smooth movement */

/* @keyframes aboutLines{

  0%{
    background-position:0 0;
  }

  100%{
    background-position:200px 200px;
  }

} */